body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 140, 0, 0.1);
}

h2 {
    color: #ffa500;
    margin-bottom: 20px;
}

nav {
    background-color: #000;
    color: #ffa500;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: #ffa500;
    text-decoration: none;
    margin-left: 15px;
}

.div-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 140, 0, 0.1);
}

.div-container form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px; /* Puoi modificare questo valore in base alle tue esigenze */
}

.div-container form label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffa500;
}

.div-container form input[type="text"],
.div-container form input[type="number"],
.div-container form textarea,
.div-container form select {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ffa500;
    margin-bottom: 20px;
    background-color: #fff;
    color: #000;
}

.div-container form input[type="submit"] {
    background-color: #ffa500;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.div-container form input[type="submit"]:hover {
    background-color: #e67e00;
}