RewriteEngine On
RewriteBase /www/api/

# Reindirizzamento per mostraClientiAPI.php
RewriteRule ^mostraClientiAPI/(\d+)/?$ mostraClientiAPI.php?ID=$1 [L]
RewriteRule ^mostraClientiAPI/?$ mostraClientiAPI.php [L]

# Reindirizzamento per mostraTariffeClientiAPI.php
RewriteRule ^mostraTariffeClientiAPI/(\d+)/?$ mostraTariffeClientiAPI.php?ID=$1 [L]
RewriteRule ^mostraTariffeClientiAPI/?$ mostraTariffeClientiAPI.php [L]



# Reindirizzamento per mostraPersonalAPI.php con ID
RewriteRule ^mostraPersonalAPI/(\d+)/?$ mostraPersonalAPI.php?ID=$1 [L]
RewriteRule ^mostraPersonalAPI/?$ mostraPersonalAPI.php [L]


 